
<h3><%= @post.title %></h3>
<h4>by <%= @post.author.username %> </h4>
<p>
  <% if @post.url %>
  --<%= @post.url.downcase %>--
  <% end %>
</p>
<article>
  <%= @post.content %>
</article>
<h6>posted on: <%= @post.created_at.to_date %></h6>

<%= link_to "back to #{@post.sub.title}", sub_url(@post.sub.id), method: :get %>
<% if current_user && current_user.id == @post.author_id %>
  <%= button_to "delete post", post_url, method: :delete %>
<% end %>
