<h2> <%= @user.username %> </h2>

<h3>Welcome to your profile!</h3>

<h4><%= link_to "Create a New Sub", new_sub_url, method: :get %></h4>
<h4><%= link_to "subs", subs_url, method: :get %></h4>

<%= link_to "edit profile", edit_user_path(@user.id), method: :get %>
<%= link_to "delete profile", user_path(@user.id), method: :delete, confirm: "Are you sure?" %>
