<%= button_to "Back to Sub #{@post.sub.title}", sub_url(@post.sub.id), method: :get %>
<h3><%= @post.title %></h3>
<h4>By: <%= @post.author.username %> </h4>
<p>
  --<%= @post.url.downcase %>--
</p>
<article>
  <%= @post.content %>
</article>
<h6>Posted at: <%= @post.created_at.to_date %></h6>

<% if current_user.id == @post.author_id %>
  <%= button_to "Delete post", post_url, method: :delete %>
<% end %>
